@use "tailwindcss";
@use 'sass:list';

:root {
--font-dm_mono: var(--font-dm-mono);
--font-urbanist: var(--font-urbanist);



//color-palette 
--cornell: #ba1b18;
--lemon: #fcf3c1;
--ivory: #fffae9;
--moss: #3d3915;
--olive: #526022;
--blackbean: #351710;


//project card variables
--cards: 4;
--cardHeight: 70vh;
--cardTopPadding: 1.5em;
--cardMargin: 6vw;

}

@media (pointer: coarse) {
  html, body {
    cursor: auto;
  }
}

body {
  background: white;
  background-image: radial-gradient(rgb(186, 186, 186) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  font-family: var(--font-dm-mono), 'Courier New', Courier, monospace;
  font-family: var(--font-urbanist), 'Open Sans', sans-serif;
}




// loader
.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #ddd6ff;
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
}
@keyframes l9 {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position: -100%  66%,0%   66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100%}
}


//**********************************************************************
// HOMEPAGE CLASSES

// Projects

/*
.project-container {
  width: 70%;
  margin: 0 auto;
}

.project-cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(var(--cards) * var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
}

#proj1 {
  --index: 1;
}

#proj2 {
  --index: 2;
}

#proj3 {
  --index: 3;
}

#proj4 {
  --index: 4;
}

#proj1 .proj-body {
  background-color: white;
  border:var(--blackbean);
}

#proj2 .proj-body {
  background-color: white;
  border:var(--blackbean);
}

#proj3 .proj-body {
  background-color: white;
  border:var(--blackbean);
}

#proj4 .proj-body {
  background-color: white;
  border:var(--blackbean);
}

.proj-card {
  position: sticky;
  top: 5em;
  padding-top: calc(var(--index) * var(--cardTopPadding));
}

.proj-body {
  box-sizing: border-box;
  padding:30px;
  border-radius: 35px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  height: var(--cardHeight);
  display: flex;
  justify-content: center;
  align-items: center;
}

*/


// Gallery
.carousel {
  margin: 100px auto;
  margin-top: 2em;
  width: 90%;
  display: flex;
  overflow-x: auto;
  gap: 1em;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.group{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: scrolling 27s infinite linear;
  padding-right: 1em;
}

.carouselcard{
  flex: 0 0 10em;
  height: 5em;
  padding: 1em;
  background: var(--moss);
  font-size: 3rem;
  border-radius: .2em;
  text-align: center;
  align-content: center;
}

@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }



// scroll up
.flower {  
  background-color: var(--blackbean);
  width: 75px;
  --r: calc(50%/(1 + 1/sin(180deg/5))); 
  aspect-ratio: 1;
  $m: ();
  @for $i from 1 through 5 { 
    $m: list.append($m, 
      radial-gradient(50% 50%,#000 100%,#0000) no-repeat
      calc(50% + 50%*cos(360deg*#{calc($i / 5)})) 
      calc(50% + 50%*sin(360deg*#{calc($i / 5)}))
     / calc(2*var(--r)) calc(2*var(--r)), 
    comma);
  }
  mask: radial-gradient(100% 100%,#000 calc(var(--r)/tan(180deg/5)),#0000 0),#{$m};
}

// footer mask
.box {
  background-color: var(--cornell);
  color: var(--ivory);
  mask: 
    linear-gradient(180deg,#0000 30px,#000 0),
    radial-gradient(30px,#000 calc(100% - 1px),#0000) top/55.5px 60px


}



