@import "tailwindcss";

@theme inline {
  --font-figtree: var(--font-figtree);
  --font-bricolage: var(--font-bricolage-grotesque);
  --font-dm_mono: var(--font-dm-mono);
  --font-zen: var(--font-zen-kaku-gothic-new);
}

@media (pointer: coarse) {
  html, body {
    cursor: auto;
  }
}

body {
  cursor: none !important;
  background: white;
  background-image: radial-gradient(rgb(186, 186, 186) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  
  font-family: var(--font-dm-mono), 'Courier New', Courier, monospace;
  font-family: var(--font-zen-kaku-gothic-new), 'Open Sans', sans-serif;
}
body * :hover {
  cursor: none !important;
}

nav{
  width: 100%;
}
li {
  padding: 0.5em;
}

li:hover {
  transition: color 0.5s;
  color: #ddd6fe;
  
}

.navunderlineanim {
  display: inline-block;
  position: relative;
}

.navunderlineanim::after {
  content:'';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ddd6fe;
  transform-origin:bottom right;
  transition: transform 0.25s ease-out;
}

.navunderlineanim:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}