@import "tailwindcss";

@theme inline {
  --font-figtree: var(--font-figtree);
  --font-bricolage: var(--font-bricolage-grotesque);
}

@media (pointer: coarse) {
  html, body {
    cursor: auto;
  }
}

body {
  cursor: none !important;
  background: white;
  background-image: radial-gradient(rgb(186, 186, 186) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  
  font-family: var(--font-figtree), system-ui, 'Open Sans', sans-serif;
  font-family: var(--font-bricolage-grotesque), 'Open Sans', sans-serif;
}
body * :hover {
  cursor: none !important;
}
li {
  padding: 0.5em;
}

.hero {
  position: fixed;
  width: 80%;
  height: 20%;
  margin-left:20%;
  padding-left:2%;
  margin-top: 0%;
  
}

main {
  width: 100%;
  margin-right: 0;
  height:auto;
}

li:hover {
  transition: color 0.5s;
  color: oklch(94.6% 0.033 307.174);
  
}

.navunderlineanim {
  display: inline-block;
  position: relative;
}

.navunderlineanim::after {
  content:'';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: oklch(94.6% 0.033 307.174);
  transform-origin:bottom right;
  transition: transform 0.25s ease-out;
}

.navunderlineanim:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}