@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-dm-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    background: #0a0a0a;
    
  }
}


body {
  background: white;
  background-image: radial-gradient(rgb(186, 186, 186) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  cursor: url("/cursorplaceholder.svg"), auto;
}


nav {
  position: sticky;
  width: 20em;
  height: 100%;
  text-align: center;
  padding-top: 10%;
  margin:auto;
  
  z-index: 1;
  float:left;
  border-right: 1px solid;
}

li {
  padding: 0.5em;
}

.hero {
  position: fixed;
  width: 80%;
  height: 20%;
  margin-left:20%;
  padding-left:2%;
  margin-top: 0%;
  
}

main {
  width: 80em;
  margin-right: 0;
  height:auto;
}

